body {
    font-family: 'Sansita', sans-serif;
    font-size: 25px;
}
h1{
  font-family: 'Pacifico', cursive;
  font-size: 140px;

}



h2 {
  font-family: 'Sansita', sans-serif;
  font-size: 40px;
}
h3 {
  font-size: 25px;
}
